.box-nav {
    display: flex;
    margin: 20px;
    box-sizing: border-box;
}

.box-nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.box-nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

a:not(.button) {
    text-decoration: none;
}

a:hover:not(.button) {
    color: white;
}

a:visited {
    color: #b4b3b3;
}

.box-nav span {
    color: #b4b3b3;
    font-size: 30px;
    margin: 0 13px;
}

.button {
    display: flex;
    width: 145px;
    height: 35px;
    background: #B4B3B3;
    padding: 5px;
    justify-content: center;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.button:visited {
    color: black;
}

.button:hover {
    color: black;
}

