.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: bold 20px Verdana;
    background: #0d0d0d;
    box-sizing: border-box;
    margin: 20px 0;
    border-radius: 5px;
}

.nav a {
    flex: 1;
    display: flex;
    color: white;
    text-decoration: none;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.nav a:hover {
    color: white;
    background: gray;
}

.nav a:visited {
    color: white;
}