.header {
    display: flex;
    justify-content: first baseline;
    border-bottom: 3px solid #222;
    height: 105px;
    width: 100%;
}

.logo {
    width: 175px;
    height: 70px;
    margin: 15px 50px;
    position: absolute;
}