.topic-nav {
    display: flex;
    align-items: center;
    background: black;
    border-radius: 5px;
    height: 80px;
}

.topic-nav img {
    width: 35px;
    height: 35px;
    margin: 0 15px;
}

.topic-nav-left {
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.topic-nav-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-nav-left-title a{
    text-decoration: none;
    color: #ffb300;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
}

.topic-nav-left-title a:hover {
    color: #ffc12f
}

.topic-nav-left-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #a6a6a6;
    font-size: 15px;
    margin: 0 7px;
}

.topic-nav-left-info span {
    margin: 0 7px;
}


.topic-nav-left-info a {
    text-decoration: none;
    color: #ffb300;
    margin: 0 0 0 7px;
}

.topic-nav-left-info a:hover {
    color: #ffc12f;
}

.topic-nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.topic-nav-right img {
    height: 50px;
    width: 50px;
}

.topic-nav-right-num-of-beers {
    width: 50px;
    height: 50px;
    color: black;
    background: #ffb300;
    font-size: 40px;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    text-align: center
}
